{{ partial "header.html" . }}

{{ partial "head-list.html" . }}

<div class="content">
    <div class="container">
        {{ range .Pages }}
        <!-- Post -->
        <div class="post">
            <!-- Heading -->
            <a href="{{ .Permalink }}" class="indextitle"><h1 class="indextitle">{{ .Title }}</h1></a>
            <div class="in-content">
                <p>Date: {{ .PublishDate.Format "02/01/2006" }}</p>
            </div>			
        </div>
        <!-- /post -->
        {{ end }}
    </div>
</div>

{{ partial "footer.html" . }}