{{ partial "header.html" . }}


{{ if eq .Params.type "about" }}
{{ partial "head-about.html" . }}
{{ else if eq .Params.type "feeds" }}
{{ partial "head-feeds.html" . }}
{{ else }}
{{ partial "head.html" . }}
{{ end }}



	<!-- Content -->
	<div class="content">
		<div class="container">

			<!-- Post -->
			<div class="post">
				<!-- Heading -->
				<a href="#" class="indextitle"><h1 class="posttitle">{{ .Title }}</h1></a>
				<div class="in-content">
					<p>Date: {{ .PublishDate.Format "January 2, 2006" }}</p>
					{{ .Content }}
				</div>
			</div>
			<!-- /post -->

		</div>
	</div>

{{ partial "footer.html" . }}