
<footer>
    <p class="foot-cp">
        handcrafted by jayden litolff
    </p>
</footer>
<script>
var titlebox = document.querySelectorAll(".main-nav");
var title = titlebox[0]

let last_known_scroll_position = 0;

function doSomething(scroll_pos) {
    if (scroll_pos > 180){
  title.classList.add("smalli");
} else if (scroll_pos < 140){

    title.classList.remove("smalli");
  }
}

window.addEventListener('scroll', function(e) {
  last_known_scroll_position = window.scrollY;
  doSomething(last_known_scroll_position);
});
</script>
</body>
</html>