<div class="main-nav">
    <div class="container">
        <header class="group top-nav">
            <nav class="navbar logo-w navbar-left" >
                <a class="logo" href="{{ "index.html" | absURL }}">NorfolkNest Blog</a>
            </nav>
            <nav id="navbar-1" class="navbar item-nav navbar-right">
                <ul>
                    <li class="active"><a href="">Home</a></li>
                    <li><a href="{{ "about" | absURL }}">About</a></li>
                    <li><a href="{{ "feeds" | absURL }}">Feeds</a></li>
                    <li><a href="{{ "" | absURL}}post">Archive</a></li>
                </ul>
            </nav>
        </header>
    </div>
</div>