<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150104040-1"></script>
	<script>
 		 window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'UA-150104040-1');
	</script>
    <title>{{.Title}} - {{ .Site.Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ "" | absURL }}css/kube.css" />
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}" />
    <link rel="shortcut icon" href="{{ "" | absURL }}img/favicon.ico" />
	<link rel="podcast" href="http://jaybigguy10.gitlab.io/norfolknetblog/podcast.rss"/>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
		</style>
</head>
<body>