{{ partial "header.html" . }}

{{ partial "head-index.html" . }}

<div class="intro">
    <div class="container">
        <div class="units-row">
            <div style="width: 100%;">
                <p class="p-intro">Welcome to JayBigGuy10's NorfolkNest Tech Blog</p>
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<div class="content">
    <div class="container">

        {{ range first 4 .Site.RegularPages}}

        <!-- Post -->
        <div class="post">
            <!-- Heading -->
            <a href="{{ .Permalink}}" class="indextitle"><h1 class="indextitle">{{ .Title }}</h1></a>
            <div class="in-content">
                    <p>Date: {{ .PublishDate.Format "January 2, 2006" }}</p>
                <p>
                {{ if isset .Params "description" }}
                    {{ .Description }}
                {{ else if gt (len .RawContent) 120 }}
                    {{ slicestr ( .Summary | plainify | htmlUnescape ) 0 240 }} . . .
                {{ else }}
                    {{ .RawContent }}
                {{ end }}	
                </p>
                <a class="read-more" href="{{ .Permalink}}">Read more</a>
            </div>
        </div>
        <!-- /post -->

        {{ end }}

        <div class="post">
            
            <a href="{{ "" | absURL}}post"><h1 class="indextitle">Older Posts</h1></a>
            <div class="in-content">
                    
                <p>See more posts from JayBigGuy</p>
                <a class="read-more" href="{{ "" | absURL}}post">Go To Older Posts</a>
            </div>

        </div>

    </div>
</div>

{{ partial "footer.html" . }}