body {
    margin-bottom: 50px;
    background: #303030;
    color: #ffffff;
}
a {
    font-family: "Open Sans", sans-serif;
    color: #FF6C40;
}
a:focus, a:hover{
    color: #FF6C40;
}
.container {
    margin: auto;
    max-width: 700px;
    align-items: center;
}
.main-nav{
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: #181818;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='280' height='280' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23e85f37' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ab4629'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); 
    /* https://www.svgbackgrounds.com/#endless-constellation */
    position: sticky;
    top: 0px;
    z-index: 9999;
    transition: all 0.1s;
}
.main-nav.smalli{
    padding-top: 10px;
    padding-bottom: 10px;
}

.group.top-nav {
    margin-bottom: -20px;
    
}
.group.top-nav nav a {
    text-decoration: none;
}
.group.top-nav nav a:hover {
    color: #ffffff;
    transition: all .2s ease-in-out;
}



.logo, .top-nav a.logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 33px;
    color: #ff6c40;
    letter-spacing: -2px;
}
.top-nav .item-nav li.active a {
    color: #FF6C40;
}
.top-nav .item-nav li a {
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #dbdbdb;
}

.intro {
    width: 100%;
    margin: auto;
    min-height: 300px;
    padding-top: 117px;
    background: url(../img/wifu2xed.png) no-repeat;
    background-size: cover;
    background-position-x: center;

}
p.p-intro {
    color: #E85F37;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 25px;
    background-color: #FFF;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #DC5227;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: inset 0 -3px 0 #ffcfbc;
    position: relative;
}
img.img-intro {
    border-radius: 100px;
    width: 47px;
    background-color: #EF3A3A;
    border: 1px solid #DC5227;
    -moz-box-shadow: inset 0.5px 0.9px 5px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0.5px 0.9px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0.5px 0.9px 5px rgba(0, 0, 0, 0.05);
    -webkit-animation: smooth-entry-btn 1s;
	-moz-animation: smooth-entry-btn 1s;
	animation: smooth-entry-btn 1s;
}

.content {
    padding-top: 40px;
}
.post {
    margin-bottom: 60px;
}
.content .post a {
    text-decoration: none;
}
.content .post a:focus,.content .post a:hover{
    text-decoration: underline;
}
.content .post h1.posttitle, .content .post h1.indextitle{
    color: #ff6c40;
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 400;
    position: relative;
}
.content .post h1.indextitle{
    font-size: 22px;
}
.content .post h1:hover, .content .post h1:focus {
    color: rgb(255, 255, 255);
    transition: all .2s ease-in-out;
    text-decoration: none ;
}
.content .post a.indextitle, .content .post a.indextitle {
    text-decoration: none ;
}
h2, h3{
    color: #ffffff;
}
.content .post p,.content .post ul,.content .post ol{
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.0em;
}

.content .post img {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 20px;
}
.content .post img[src*="separator.png"] {
    width: auto;
}

.content .post hr {
    content: url(../img/separator.png);
    width: 66px;
    height: 7px;
    float: left;
    border: none;
}
.content .post h1.posttitle:before, .content .post h1.indextitle:before {
    content: url(../img/separator.png);
    position: absolute;
    top: -40px;
    left: 1px;
}
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }
a.read-more {
    padding: 5px 10px;
    background-color: #FF6c40;
    border: 1px solid #ff6c40;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}
a.read-more:hover {
    background-color: #ffffff;
    color: #ff6c40;
    border: 1px solid #ffffff;

    transition: all .25s ease-in-out;
}
.foot-post {
    position: relative;
    margin-top: 60px;
    color: #535353;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.foot-post a {
    font-weight: 400;
    text-decoration: none;
    color: #535353;
}
.foot-post a:hover {
    border-bottom: 1px dotted #ccc;
}
.foot-post:before {
    content: url(../img/separator.png);
    position: absolute;
    top: -40px;
    left: 1px;
}
footer .btn {
    color: #FFF;
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer .social{
    text-align: center;
}
footer .social li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
footer .social li a {
    color: #a5a5a5;
}
footer .social li a:hover {
    color: #e85f37;
}

.units-row .unit-50{
    width: 100%;
    float: none;
    margin-bottom: 1.65em;
}

.foot-cp{
    padding-top: 10px;
    color: #dbdbdb;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    text-align: center;
}

.navbar ul {
    display: flex;
  }
  
.navbar li {
flex: 1;
}



@media only screen and (max-width:767px) {
/*     .intro {
        padding-top: 50px;
} */
.main-nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar.navbar-left, .navbar.navbar-right, .navbar li, .navbar.navbar-left li, .navbar.navbar-right li {
  text-align: center;
}

.container{
    padding: 0 20px;
}

}


